html *
{
   font-family: Lato, sans-serif;
   color: white;
}

body {
    background-color: #89bdd3;
}

.custom-button {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    color: #ffffff;
    font-size: 20px;
    color: white;
    background: transparent;
    text-decoration: none;
    width:150px;
    overflow: auto;
    white-space: nowrap;
    border:1px white solid;
}
.custom-button:hover {
    color: white;
}

.transbox {
     background-color: rgba(0,0,0,0.5);

}

td {
    text-align: left;
    background-color: rgba(24, 44, 73, 0.5);

}

/* button for increasing an employee's permission level */
.emp_up {
    color: #4fff27;
    background-color: Transparent;
    border: none;
}

/* button for decreasing an employee's permission level */
.emp_down {
    color: #ff9d1c;
    background-color: Transparent;
    border: none;
}

/* Delete button (employees) */
.emp_del {
    color: #ff2523;
    background-color: Transparent;
    border: none;
}

.resend_email {
    color: #49ff2c;
    background-color: Transparent;
    border: none;
}


.tableheader {
    margin-top: 40px;
}

.not-registered {
    margin-top: 40px;
}

.footer {
    margin-top: 150px;
}
