html, body {
  height: 100%;
}

.list-inline {
    padding-top: 30px;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -80px; 
}
.page-wrap:after {
  display: block;
}
.site-footer, .page-wrap:after {
  height: 80px; 
}
.site-footer {
    background: rgba(0,0,0,0.5);
    text-align: center;
}

.footer-copyright {
	color: white;
}