.top-bar-section {
    height: 12vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
}
.shameless-plug {
  font-size: 18pt;
  margin-left: 10%;
  padding-top: 33px;
}
.shameless-plug:hover {
    color:white;
}
.nav-links {
    margin-top: -40px;
    margin-right: 30px;
}
li.active {
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.top-bar-section-secondary {
    height: 10vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
}
.navbar-secondary {
  padding-top: 15px;
  padding-right: 100px;
}